<?xml version="1.0"?>
<appSettings>
    <add key="ida:AppID" value="a6b4cb96-400e-4be7-9f77-092f1fe50928" />
    <add key="ida:AppSecret" value="xNJRDDS6105$nnzpstV1#~|" />
    <add key="ida:RedirectUri" value="https://localhost:44375/" />
    <add key="ida:AppScopes" value="User.Read Calendars.Read People.Read Contacts.Read User.ReadBasic.All Presence.Read Presence.Read.All" />
</appSettings>
